@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

/* @counter-style enclosed-loweralpha {
	system:  alphabetic;
	symbols: abcdefghijklmnopqrstuvwxyz;
	prefix: '(';
	suffix: ') ';
} */
.calltoaction + ol, section.calltoaction > ol{
	margin-left: 3em;
}

.calltoaction + ol > li::marker,
.bracketnumber > li::marker, section.calltoaction > ol >li::marker{
	content: counter(list-item) ") ";
}

.calltoaction + ol ol, section.calltoaction > ol ol{
	list-style: lower-roman;
}

section.calltoaction > ol > li {
	margin-bottom: 3em;
}

.nobullet{
	list-style: none;
}

li,
li > p{
	margin-bottom: 1em;
}

abbr{
	text-transform: lowercase;
	font-variant: small-caps;
}

ol.enclosedalpha,
ol.enclosedroman{
	counter-reset: list1;
	margin: 0;
}

ol.enclosedalpha > li,
ol.enclosedroman > li{
	list-style: none;
	position: relative;
}

ol.enclosedalpha > li:before{
	counter-increment: list1;
	content: "(" counter(list1, lower-alpha) ") ";
	position: absolute;
	left: -1.4em;
}

ol.enclosedroman > li:before{
	counter-increment: list1;
	content: "(" counter(list1, lower-roman) ") ";
	position: absolute;
	left: -2.4em;
}

ul.bibliolist{
	list-style: none;
}

section#appendix5 ul, section#appendix6 ul {
	padding-left: 0em;
	margin-top: 0.3em;
	margin-left: 0.3em;
	list-style: none;
}



section#appendix5 li, section#appendix6 li {
	margin-left: -0.3em;
	margin-bottom: 0.3em;
}

section#honwit>h3, section#staff>h3 {
	margin-top: 0;
	margin-bottom: 0.3em;
}

section#honwit, section#staff {
	/*columns: 2;*/
	margin-top: 2em;
}

.residentialschoollist>h4 {
	font-size: 130%;
	margin-top: 1.5em;
	margin-bottom: .5em;
}

.residentialschoollist>h5 {
	font-size: 110%;
	margin-top: .5em;
	margin-bottom: 0;
}
.residentialschoollist>ul{
	list-style: none;
	padding-left: 0;
	margin: 0;
}
.residentialschoollist>ul>li {
	margin-bottom: 0;
}

/*.residentialschoollist > ul > li > a[epub|type~="noteref"] {
	vertical-align: top;
}*/

section.residentialschoollist > ul > li:nth-child(2) {
	font-style: italic;
}


.figuretitle{
	margin-bottom: 0;
	text-align: left;
	margin-top: 0;
}

figure.wrap{
	display: inline;
	float: left;
	max-width: 40%;
	margin-left: 1.5em;
	margin-right: 1.5em;
}

figure.wrap img{
	margin: 0;
}

figure.wrap figcaption{
/*	display: table-caption;
	caption-side: bottom;*/
	margin-left: 0;
	width: 100%;
}

figure{
	break-inside: avoid;
}

figure {
	margin-left: 0;
	margin-right: 0;
}

figure img{
	display: block;
	margin: auto;
	max-width: 100%;
}

figcaption{
	font-size: .75em;
	font-style: italic;
	margin: 1em;
	margin-top: .5em;
	display: block;
}

figcaption p + p{
	text-indent: 0;
}

div.calltoaction {

}

table#convictionstable {
	margin-top: 2em;
	border-collapse: collapse;

}

table#convictionstable>thead {
	font-size: 130%;
/*	border-bottom: 1px solid;*/
}

table#convictionstable {
	text-align: left;
}

table#convictionstable th, table#convictionstable td {
	vertical-align: top;
}

table#convictionstable>tbody>tr:first-child>th{

	padding-bottom: .3em;
	padding-top: .3em;
	font-size: 100%;
	color: white;
	background: black;
	padding-top: 0.03em;
	padding-bottom: 0.03em;
}

table#convictionstable>tbody>tr>td, table#convictionstable>tbody>tr>th {
	font-size: smaller;
}

dt:before {
  content: "";
  display: block;
}
dd, dt {
  display: inline;
}

dt {
	font-weight:  bold;
	margin-top: 1em;
}

dt:after {
	content: ":";
}

dd {
	margin-left: .3em;
	margin-bottom: 1em;
}

dd:after {
	content: "";
	display:  block;
	margin-bottom: 1em;
}